Repository belashjack/custom-quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run lint-fix', prettier --write, npm run eslint-fix

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["bash -c 'npm run lint-fix'", "prettier --write"],
    "*.{js,jsx}": ["npm run eslint-fix", "prettier --write"],
    "*.{json,css,scss,md}": ["prettier --write"]
}

Implement simplest flow for quiz
  eslint.config.mjs
  package-lock.json
  package.json
  src/App.tsx
  src/AppContext.tsx
  src/HelloWorld.tsx
  src/Quiz.tsx
  src/index.scss
  src/rounds/Preview.tsx
  src/rounds/RoundWrapper.tsx
  src/rounds/SimpleQuiz.tsx
  src/rounds/rounds.scss
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
  src/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Add icons fro Font Awesome
  package-lock.json
  package.json
  src/rounds/RoundWrapper.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Refactor colors
  package-lock.json
  package.json
  src/rounds/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/rounds.scss
  src/rounds/variables.scss
Due: bash -c 'npm run lint-fix', prettier --write

Move Button to component, change colors, implement lives
  src/AppContext.tsx
  src/Quiz.tsx
  src/constants.ts
  src/rounds/GameOver/GameOver.scss
  src/rounds/GameOver/GameOver.tsx
  src/rounds/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/components/Button.scss
  src/rounds/components/Button.tsx
  src/rounds/rounds.scss
  src/rounds/variables.scss
Due: bash -c 'npm run lint-fix', prettier --write

Move Button and Explanation to components folder
  src/rounds/GameOver/GameOver.tsx
  src/rounds/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/components/Button/Button.scss
  src/rounds/components/Button/Button.tsx
  src/rounds/components/Explanation/Explanation.scss
  src/rounds/components/Explanation/Explanation.tsx
  src/rounds/rounds.scss
Due: bash -c 'npm run lint-fix', prettier --write

Implement InputCorrectAnswer round, create Input component
  src/Quiz.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.scss
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/components/Button/Button.scss
  src/rounds/components/Button/Button.tsx
  src/rounds/components/Explanation/Explanation.scss
  src/rounds/components/Input/Input.scss
  src/rounds/components/Input/Input.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Create static.yml
  .github/workflows/static.yml
Due: none

Create action.yml
  .github/workflows/action.yml
Due: none

Remove incorrect workflow
  .github/workflows/static.yml
Due: none

Update action.yml
  .github/workflows/action.yml
Due: none

Create action.yaml
  .github/workflows/action.yaml
Due: none

Create build and deploy to Github Pages workflow
  .github/workflows/actions.yml
Due: none

Change publicUrl to './'
  package.json
Due: prettier --write

Add support for SimpleQuiz rounds with image in description, + support of multiple correct answers
  src/rounds/GameOver/GameOver.scss
  src/rounds/GameOver/GameOver.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/Preview/Preview.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/assets/2024-09-07 14.08.27.jpg
  src/rounds/assets/2024-09-07 14.12.32.jpg
  src/rounds/assets/sticker.webm
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Create useAnswer hook, move Option to separate component
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/SimpleQuiz/Option/Option.scss
  src/rounds/SimpleQuiz/Option/Option.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/components/Input/Input.tsx
  src/rounds/hooks/useAnswer.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Add support for multiple options in SimpleQuiz
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.scss
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/SimpleQuiz/Option/Option.scss
  src/rounds/SimpleQuiz/Option/Option.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/hooks/useAnswer.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
  src/rounds/utils.ts
  src/rounds/variables.scss
Due: bash -c 'npm run lint-fix', prettier --write

Add support for options with images
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/SimpleQuiz/Option/Option.scss
  src/rounds/SimpleQuiz/Option/Option.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/components/Explanation/Explanation.scss
  src/rounds/components/Explanation/Explanation.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Store progress in session storage, rerender each round (by using "key")
  src/AppContext.tsx
  src/Quiz.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/hooks/useAnswer.tsx
  src/rounds/hooks/useSessionStorage.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Implement DragAndDrop round
  package-lock.json
  package.json
  src/Quiz.tsx
  src/rounds/DragAndDrop/DragAndDrop.scss
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/rounds/DragAndDrop/Item/Item.scss
  src/rounds/DragAndDrop/Item/Item.tsx
  src/rounds/DragAndDrop/Sortable.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/SimpleQuiz/Option/Option.scss
  src/rounds/SimpleQuiz/Option/Option.tsx
  src/rounds/components/Button/Button.tsx
  src/rounds/components/Input/Input.tsx
  src/rounds/mixins.scss
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
  src/rounds/utils.ts
Due: bash -c 'npm run lint-fix', prettier --write

Show next round button only after scrolling to the end of the round
  package-lock.json
  package.json
  src/rounds/Preview/Preview.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Try Touch sensor
  src/rounds/DragAndDrop/DragAndDrop.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Prevent selecting text
  src/rounds/DragAndDrop/Item/Item.scss
Due: prettier --write

Fix buttons style on small screens
  src/rounds/RoundWrapper/RoundWrapper.scss
Due: prettier --write

Fix issue with watchedOptionValue beign populated
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Implement PressButton round (without heart animation)
  src/Quiz.tsx
  src/rounds/PressButton/PressButton.scss
  src/rounds/PressButton/PressButton.tsx
  src/rounds/PressButton/usePressButton.tsx
  src/rounds/Preview/Preview.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Add withHeartAnimation HOC
  src/rounds/PressButton/PressButton.tsx
  src/rounds/components/Button/Button.tsx
  src/rounds/components/withHeartAnimation/withHeartAnimation.scss
  src/rounds/components/withHeartAnimation/withHeartAnimation.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Add explanation to PressButton round
  src/rounds/PressButton/PressButton.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Fix few bugs, allow to Try Again in easy mode even after win
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/PressButton/PressButton.tsx
  src/rounds/PressButton/usePressButton.tsx
  src/rounds/Preview/Preview.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/components/withHeartAnimation/withHeartAnimation.scss
Due: bash -c 'npm run lint-fix', prettier --write

Implement Timer for rounds
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/rounds/GameOver/GameOver.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/PressButton/PressButton.tsx
  src/rounds/PressButton/usePressButton.tsx
  src/rounds/Preview/Preview.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/RoundWrapper/Timer/Timer.scss
  src/rounds/RoundWrapper/Timer/Timer.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/constants.tsx
  src/rounds/hooks/useAnswer.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
  src/rounds/variables.scss
Due: bash -c 'npm run lint-fix', prettier --write

Add Morse code and upside down round variations
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/RoundWrapper/Timer/Timer.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
  src/rounds/utils.ts
Due: bash -c 'npm run lint-fix', prettier --write

Fix issue with extra life killing
  src/rounds/components/Explanation/Explanation.scss
  src/rounds/hooks/useAnswer.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Move storing of isLoseByTimer to progress, reset internal state, start setting null to answer when forced lose
  src/AppContext.tsx
  src/rounds/DragAndDrop/DragAndDrop.scss
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/PressButton/PressButton.tsx
  src/rounds/PressButton/usePressButton.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/RoundWrapper/Timer/Timer.tsx
  src/rounds/SimpleQuiz/Option/Option.scss
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/hooks/useAnswer.tsx
  src/rounds/mixins.scss
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Implement Puzzle round
  index.d.ts
  package-lock.json
  package.json
  src/Quiz.tsx
  src/rounds/Puzzle/Puzzle.scss
  src/rounds/Puzzle/Puzzle.tsx
  src/rounds/Puzzle/createPuzzle.ts
  src/rounds/RoundWrapper/Timer/Timer.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Fix gap issue in footer
  src/rounds/RoundWrapper/RoundWrapper.scss
Due: prettier --write

Fix not killing life when lost by timer
  src/rounds/hooks/useAnswer.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Implement Balloons round
  src/Quiz.tsx
  src/constants.ts
  src/rounds/Balloons/Balloon/Balloon.scss
  src/rounds/Balloons/Balloon/Balloon.tsx
  src/rounds/Balloons/Balloons.tsx
  src/rounds/PressButton/PressButton.tsx
  src/rounds/Puzzle/Puzzle.scss
  src/rounds/Puzzle/Puzzle.tsx
  src/rounds/Puzzle/createPuzzle.ts
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/components/withHeartAnimation/withHeartAnimation.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Implement Happy Birthday balloons animation
  src/rounds/Balloons/Balloon/Balloon.scss
  src/rounds/Balloons/Balloon/Balloon.tsx
  src/rounds/Balloons/Balloon/GameBalloon.scss
  src/rounds/Balloons/Balloon/GameBalloon.tsx
  src/rounds/Balloons/Balloon/HappyBirthdayBalloon.scss
  src/rounds/Balloons/Balloon/HappyBirthdayBalloon.tsx
  src/rounds/Balloons/Balloons.tsx
  src/rounds/Balloons/HappyBirthdayBalloons.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Add Chalkboard font for iOS, remove -webkit-tap-highlight-color
  src/rounds/Balloons/Balloon/Balloon.scss
  src/rounds/Balloons/Balloon/Balloon.tsx
  src/rounds/Balloons/HappyBirthdayBalloons.tsx
Due: bash -c 'npm run lint-fix', prettier --write
