Repository belashjack/custom-quiz: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run lint-fix', prettier --write, npm run eslint-fix

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["bash -c 'npm run lint-fix'", "prettier --write"],
    "*.{js,jsx}": ["npm run eslint-fix", "prettier --write"],
    "*.{json,css,scss,md}": ["prettier --write"]
}

Implement Carry round
  package-lock.json
  package.json
  src/Quiz.tsx
  src/rounds/Carry/Carry.scss
  src/rounds/Carry/Carry.tsx
  src/rounds/Carry/Draggable.tsx
  src/rounds/Carry/Droppable.tsx
  src/rounds/Carry/types.ts
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
  src/rounds/utils.ts
Due: bash -c 'npm run lint-fix', prettier --write

Some small style fixes
  src/rounds/Carry/Carry.scss
  src/rounds/Carry/Draggable.tsx
  src/rounds/components/Input/Input.scss
  src/rounds/roundsConfig.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Add favicon
  package-lock.json
  package.json
  src/icons/android-chrome-192x192.png
  src/icons/android-chrome-512x512.png
  src/icons/apple-touch-icon.png
  src/icons/favicon-16x16.png
  src/icons/favicon-32x32.png
  src/icons/favicon.ico
  src/index.html
  src/site.webmanifest
Due: prettier --write

Some style fixes
  src/rounds/Balloons/Balloon/GameBalloon.tsx
  src/rounds/Carry/Carry.scss
  src/rounds/Carry/Draggable.tsx
  src/rounds/Carry/Droppable.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/RoundWrapper/Timer/Timer.scss
  src/rounds/RoundWrapper/Timer/Timer.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Refactor title and description of the rounds
  src/rounds/Balloons/Balloon/GameBalloon.tsx
  src/rounds/Balloons/Balloons.tsx
  src/rounds/Carry/Carry.tsx
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/rounds/GameOver/GameOver.tsx
  src/rounds/InputCorrectAnswer/InputCorrectAnswer.tsx
  src/rounds/PressButton/PressButton.tsx
  src/rounds/Preview/Preview.scss
  src/rounds/Preview/Preview.tsx
  src/rounds/Puzzle/Puzzle.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/SimpleQuiz/SimpleQuiz.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Add balloon pop sound
  .parcelrc
  index.d.ts
  src/assets/icons/android-chrome-192x192.png
  src/assets/icons/android-chrome-512x512.png
  src/assets/icons/apple-touch-icon.png
  src/assets/icons/favicon-16x16.png
  src/assets/icons/favicon-32x32.png
  src/assets/icons/favicon.ico
  src/assets/sounds/pop.mp3
  src/index.html
  src/rounds/Balloons/Balloon/GameBalloon.tsx
  src/rounds/Balloons/Balloons.tsx
  src/rounds/Carry/Carry.tsx
  src/rounds/DragAndDrop/DragAndDrop.tsx
  src/site.webmanifest
Due: bash -c 'npm run lint-fix', prettier --write

Add anti-spy message to the console
  index.d.ts
  package-lock.json
  package.json
  src/App.tsx
  tsconfig.json
Due: bash -c 'npm run lint-fix', prettier --write

Add terraform
  .gitignore
  .lintstagedrc.json
  terraform/.terraform.lock.hcl
  terraform/create_tf_state_bucket/.terraform.lock.hcl
  terraform/create_tf_state_bucket/README.md
  terraform/create_tf_state_bucket/create_tfstate_bucket.tf
  terraform/create_tf_state_bucket/terraform.tfstate
  terraform/create_tf_state_bucket/variables.tf
  terraform/main.tf
  terraform/variables.tf
Due: prettier --write

Split GitHub Actions workflow into multiple files with jobs
  .github/workflows/build.yml
  .github/workflows/deploy_to_github_pages.yml
  .github/workflows/main.yml
Due: none

Add provision job to Github actions
  .github/workflows/main.yml
  .github/workflows/provision.yml
Due: none

Create tf module for github oidc
  terraform/create_tf_state_bucket/terraform.tfstate
  terraform/main.tf
  terraform/modules/github_oidc/github_oidc.tf
  terraform/modules/github_oidc/variables.tf
Due: none

Rename policies
  terraform/modules/github_oidc/github_oidc.tf
Due: none

Group github_actions_oidc_iam_policy statements by resource
  terraform/modules/github_oidc/github_oidc.tf
Due: none

Add S3 buckets for app and images
  terraform/main.tf
  terraform/modules/github_oidc/github_oidc.tf
Due: none

Add job to deploy to S3
  .github/workflows/build.yml
  .github/workflows/deploy_to_s3.yml
  .github/workflows/main.yml
Due: none

Allow public access to custom-quiz-images bucket
  terraform/main.tf
Due: none

Move assets to S3
  .gitignore
  README.md
  src/rounds/assets/2024-09-07 14.08.27.jpg
  src/rounds/assets/2024-09-07 14.12.32.jpg
  src/rounds/assets/correctAnswers/image1.webp
  src/rounds/assets/correctAnswers/image2.webp
  src/rounds/assets/correctAnswers/image3.webp
  src/rounds/assets/correctAnswers/video1.webm
  src/rounds/assets/correctAnswers/video10.webm
  src/rounds/assets/correctAnswers/video11.webm
  src/rounds/assets/correctAnswers/video2.webm
  src/rounds/assets/correctAnswers/video3.webm
  src/rounds/assets/correctAnswers/video4.webm
  src/rounds/assets/correctAnswers/video5.webm
  src/rounds/assets/correctAnswers/video6.webm
  src/rounds/assets/correctAnswers/video7.webm
  src/rounds/assets/correctAnswers/video8.webm
  src/rounds/assets/correctAnswers/video9.webm
  src/rounds/assets/incorrectAnswers/image1.webp
  src/rounds/assets/incorrectAnswers/image2.webp
  src/rounds/assets/incorrectAnswers/image3.webp
  src/rounds/assets/incorrectAnswers/image4.webp
  src/rounds/assets/incorrectAnswers/video1.webm
  src/rounds/assets/incorrectAnswers/video10.webm
  src/rounds/assets/incorrectAnswers/video11.webm
  src/rounds/assets/incorrectAnswers/video12.webm
  src/rounds/assets/incorrectAnswers/video2.webm
  src/rounds/assets/incorrectAnswers/video3.webm
  src/rounds/assets/incorrectAnswers/video4.webm
  src/rounds/assets/incorrectAnswers/video5.webm
  src/rounds/assets/incorrectAnswers/video6.webm
  src/rounds/assets/incorrectAnswers/video7.webm
  src/rounds/assets/incorrectAnswers/video8.webm
  src/rounds/assets/incorrectAnswers/video9.webm
  src/rounds/constants.tsx
  src/rounds/roundsConfig.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Add Docker for CI/CD
  .dockerignore
  .github/workflows/build.yml
  Dockerfile
Due: none

Make custom-quiz-app bucket bucket a public static website bucket
  terraform/main.tf
Due: none

Create Route53 zone
  terraform/main.tf
  terraform/modules/github_oidc/github_oidc.tf
Due: none

Create Route53 records fro domain and www subdomain
  terraform/main.tf
Due: none

Use variable for domain name
  terraform/main.tf
  terraform/variables.tf
Due: none

Change bucket name to be able to route traffic to S3 bucket
  .github/workflows/deploy_to_s3.yml
  terraform/main.tf
Due: none

Fix typo
  src/rounds/roundsConfig.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Change bucket name back, because it is possible to have not matching domain and bucket name with CloudFront distribution
  .github/workflows/deploy_to_s3.yml
  terraform/main.tf
Due: none

Add CloudFront distribution to the Terraform configuration
  terraform/main.tf
  terraform/modules/github_oidc/github_oidc.tf
Due: none

Create S3 bucket for CloudFront logs
  terraform/main.tf
Due: none

Create CloudFront distribution for assets, use CDN URLs in code, rename bucket
  README.md
  src/rounds/constants.tsx
  src/rounds/roundsConfig.tsx
  terraform/main.tf
Due: bash -c 'npm run lint-fix', prettier --write

Rename links to point to CloudFront
  src/rounds/constants.tsx
  src/rounds/roundsConfig.tsx
Due: bash -c 'npm run lint-fix', prettier --write

Create Preview round with colored text and Youtube video
  src/rounds/RoundWrapper/ColoredText/ColoredText.scss
  src/rounds/RoundWrapper/ColoredText/ColoredText.tsx
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/constants.tsx
  src/rounds/roundsConfig.tsx
  src/rounds/types.ts
Due: bash -c 'npm run lint-fix', prettier --write

Add opacity animation on opening the round
  src/rounds/RoundWrapper/RoundWrapper.scss
  src/rounds/RoundWrapper/RoundWrapper.tsx
  src/rounds/SimpleQuiz/Option/Option.scss
Due: bash -c 'npm run lint-fix', prettier --write

Create CloudFront invalidation as part of deploying to S3
  .github/workflows/deploy_to_s3.yml
Due: none

Update esling config to not run TS rules on JS files
  eslint.config.mjs
Due: none

Add custom_quiz_logging lambda function
  .gitignore
  lambdas/custom_quiz_logging/index.js
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/github_oidc/github_oidc.tf
Due: prettier --write, npm run eslint-fix

Add API Gateway which triggers Lambda function
  terraform/main.tf
  terraform/modules/github_oidc/github_oidc.tf
Due: none

Add method and intrgration responses for POST and OPTIONS
  terraform/main.tf
Due: none
